@font-face {
  font-family: "tinyfont";
  src: url("/assets/tinyfont.ttf") format("truetype");
}

:root {
  --background-color: white;
  --foreground-color: black;
  --control-color: #eee;
  --control-active-color: #ddd;
  --text-dim-color: #ddd;
  --editor-grid-color: #f3f3f3;
  --editor-grid-intent-color: #ccc;
  --editor-grid-select-color: dodgerblue;
  --outline-color: dodgerblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    --foreground-color: white;
    --control-color: #303030;
    --control-active-color: #444;
    --text-dim-color: #444;
    --editor-grid-color: #161616;
    --editor-grid-intent-color: #333;
    --editor-grid-select-color: dodgerblue;
    --outline-color: dodgerblue;
  }
}

* {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font: inherit;
  color: inherit;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--outline-color);
}

::selection {
  background: black;
  color: white;
}

body {
  font-family: tinyfont, monospace;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  gap: 16px;
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
  font-size: 10pt;
  word-spacing: 4pt;
  background: var(--background-color);
  color: var(--foreground-color);
}

canvas {
  image-rendering: pixelated;
  width: 100%;
  display: block;
}

.editor-grid {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(16, 1fr);
  padding: 4px;
  background-color: var(--editor-grid-color);
}

.editor-glyph {
  position: relative;
  background: var(--background-color);
  padding: 0;
  border: 0;
  display: block;
  outline: none;
}

.editor-glyph canvas {
  position: relative;
  z-index: 10;
}

.editor-glyph:focus,
.editor-glyph:hover {
  box-shadow: 0 0 0 4px var(--editor-grid-intent-color);
}

.editor-glyph[data-selected] {
  box-shadow: none;
}

.editor-glyph-advance {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 5px var(--editor-grid-select-color);
  pointer-events: none;
}

.menu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.control {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 4px;
  padding: 4px;
}

.color-control input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 0;
  padding: 0;
  margin: 0;
  height: 0;
  color: var(--foreground-color);
}

.number-control input {
  border: 0;
  background-color: var(--control-color);
  border-radius: 2px;
  padding: 4px 2px;
  text-align: center;
  color: var(--foreground-color);
}

.color-control:hover {
  background-color: var(--control-color);
}

.checkbox-control:hover,
.checkbox-control:focus {
  background-color: var(--control-color);
  border-radius: 2px;
}

.button-control {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--control-color);
}

.button-control:hover {
  background-color: var(--control-active-color);
}

.control-group {
  display: flex;
  gap: 4px;
  padding: 4px;
  align-items: center;
  color: var(--control-active-color);
}

.swatch {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: solid 2px var(--foreground-color);
}

.preview-textarea {
  width: 100%;
  border: 0;
  display: block;
  resize: vertical;
  height: 120px;
  padding: 8px;
  background-color: var(--control-color);
  color: inherit;
}

select {
  background-color: var(--control-color);
  color: inherit;
  font-family: inherit;
  border: 0;
  padding: 4px 2px;
  border-radius: 4px;
}

.grow {
  flex: 1 1;
}

.preview {
  border: solid 2px black;
  position: relative;
  border-radius: 4px;
}

.popup {
  position: fixed;
  bottom: 0;
  left: 50%;
  background-color: black;
  color: white;
  padding: 12px;
  transition-duration: 200ms;
  transform: translate(-50%, 120%);
  border-radius: 8px;
}

.popup.show {
  transform: translate(-50%, -20%);
}
